body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4a6d3b; /* Un color similar al fondo de la imagen */
    color: white;
    padding: 1em 0;
    text-align: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav a {
    color: white;
    text-decoration: none;
}

.cuerpo {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4a6d3b;
    margin-bottom: 15px;
}

.boton {
    display: inline-block;
    background-color: #b8860b; /* Un color dorado */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.button:hover {
    background-color: #a07509;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
#video{
   margin-left: 25%;
}